<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
		<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
	</head>

	<body>

		<div id="app">
			<div class="container">
				<h5>购物车</h5>				
				<table class="table table-striped">
					<thead>
						<tr><!--这是个坑 @click点击时 checkbox状态还没有改变，所以拿到的总是相反的-->
							<th>全选 <input type="checkbox" name="" id="" value="" v-model="checkAll" /></th>
							<th>商品</th>
							<th>单价</th>
							<th>数量</th>
							<th>小计</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(product,index) in products"  :bind="index">
							<td><input type="checkbox" name="" id="" v-model="product.isSelected" /></td>
							<td><img :src="product.productCover" :title="product.productName"/>{{index}} {{product.productName}}</td>
							<td>￥{{product.productPrice}}</td>
							<td><input type="number" name="" id="" value="" v-model.number="product.productCount" min="1"/></td>
							<td>{{product.productPrice*product.productCount | toFixed(2)}}</td>
							<td><button class="btn btn-danger" @click="remove(product)">删除</button></td>
						</tr>
						<tr>
							<td>总价：</td>
							<td colspan="5">￥{{sum | toFixed(2)}}</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

		<script type="text/javascript">
			let vm = new Vue({
				el: '#app',

				created() {
					this.getData();
				},

				data: {
					products: [],
				},
				computed:{
					checkAll:{
						get(){
							return this.products.every(item => item.isSelected)
						},
						set(v){
							this.products.forEach(item=>item.isSelected = v)
						}						
					},
					sum(){//如果计算属性写成函数，默认调用的是get方法
						return this.products.reduce((prev,next)=>{
							if(!next.isSelected) return prev;
							return prev + next.productPrice * next.productCount
						},0)
					}
				},
				methods:{
					getData(){
						axios.get('./cart.json').then(res => {
							this.products = res.data; //这是个坑，this是then的，必须用箭头
						}).catch(function(error) {
							console.log(error);
						});
					},

					remove(p){
						this.products = this.products.filter(item=>item !== p)
					}
					
				},

				filters:{
					toFixed(v,n){
						return  v.toFixed(n)
					}
				}
			})
		</script>
	</body>

</html>