<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<script src="https://cdn.bootcss.com/vue/2.6.8/vue.js"></script>

		<div id="app">
			<input type="checkbox" name="" id="" v-model="checkAll"/>全选<br />
			<hr />
			<input type="checkbox" v-for="product in products" v-model="product.isSelected" />
			<p>{{products}}</p>
		</div>

		<script type="text/javascript">
			let vm = new Vue({
				el: '#app',
				computed: {
					checkAll: {
						get() {
							//every() 方法用于检测数组所有元素是否都符合指定条件,如果都符合就显示全选
							return this.products.every(item => item.isSelected)
						},
						set(val) {
							console.log(val);
							this.products.forEach(item => item.isSelected = val)
						}
					}
				},
				data: {
					products: [
						{isSelected:true,value:'篮球'},
						{isSelected:true,value:'足球'},
						{isSelected:true, value: '游泳'},
						{isSelected:true, value: '爬山'}
						]
				}
			})
		</script>
	</body>

</html>