*{
    padding: 0;
    margin: 0;
}
#app{
    a{
        text-decoration: none;
    }
}
.list{
    width: 600px;
    margin:15px auto;
    border: 1px solid gray;

    li{
        list-style: none;
        padding: 0.5em;
        overflow: hidden;
        &:not(:last-of-type){
            border-bottom: 1px dashed gray;
        }

        h2{
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 16px;
        }
        span{
            color: gray;
            font-size: 12px;
            padding-right: 1em;
            float: left;
        }
        time{
            font-size: 12px;
            color: gray;
            float: right;
        }
    }
}

.page{
    width: 600px;
    margin:15px auto;

    a{
        display: inline-block;
        border: 1px solid #cccccc;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin-right: 2px;
    }
    .active{
        border-color: red;
        color: red;
    }
}

.detail{
    width: 600px;
    margin:15px auto;
    border: 1px solid gray;
    padding: 15px;
    h1{
        font-size: 20px;
        text-align: center;
    }
    .info{
        border-bottom: 1px dashed #eeeeee;
        padding: 0.5em 0;
        text-align: center;
        span{
            color: gray;
            font-size: 12px;
            padding-right: 1em; 
        }
    }
    .content{
        padding: 1em 0;
    }
}
.back{
    width: 600px;
    margin:15px auto;
    text-align: center;
}